<html>
<head>
    <title>Components</title>
</head>
<body>
    <a href="https://vuejs.org/v2/guide/comonents.html">vue.js</a>
   
    <div id="example">
        <my-component></my-component>
    </div>
    <div id="example2">
        <my-component2></my-component2>
    </div>
    <!-- 特定の要素は使用できるタグに制限があるため、書き方を変える必要がある -->
    <table>
        <my-row>...</my-row>
    </table>
    <!-- 上は下のようにすると良い -->
    <table>
        <tr is="my-row"></tr>
    </table>

    <div id="example3">
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
    </div>

    <div id="example4">
        <child message="hello"></child>
    </div>
    <div id="example5">
        <child my-message="hello2"></child>
    </div>

    <div id="example6">
        <input v-model="parentMsg">
        <br>
        <child v-bind:my-message="parentMsg"></child>
        <!-- この書き方もできる -->
        <!--        <child :my-message="parentMsg"></child>   -->
    </div>

    <!-- この書き方だと文字列として扱われる -->
    <comp some-prop="1"></comp>
    <!-- 数値として渡したい場合はv-bindを使用する -->
    <comp v-bind:some-prop="1"></comp>

    <div id="counter-event-example">
        <p>{{ total }}</p>
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <button-counter v-on:increment="incrementTotal"></button-counter>
    </div>
    <!-- nativeイベントを使いたいときはこう書く -->
    <my-component v-on:click.native="doSomething"></my-component>

    <!-- フォームの場合はこう書いていた -->
    <input v-model="something">
    <!-- これはこう書くのと同じ意味 -->
    <input v-bind:value="something" v-on:input="something = $event.target.value">
    <!-- コンポーネントの場合はこう -->
    <custom-input v-bind:value="something" v-on:input="something = arguments[0]"></custom-input>
    <!-- コンポーネントの場合はこう実現する -->
    <div id="form-example">
        <currency-input v-model="price"></currency-input>
    </div>

    <!-- 実例。こんなものが作れる -->
    <div id="app">
        <currency-input2 label="Price" v-model="price"></currency-input2>
        <currency-input2 label="Shipping" v-model="shipping"></currency-input2>
        <currency-input2 label="Handling" v-model="handling"></currency-input2>
        <currency-input2 label="Discount" v-model="discount"></currency-input2>

        <p>Total: {{ total }}</p>
    </div>

    <!-- スコープに関して -->
    <!-- これは動かない -->
    <child-component v-show="someChildProperty"></child-component>
    <!-- こっちで書く -->
    <div id="example7">
        <child-component></child-component>
    </div>
    
    <!-- これと -->
    <div>
        <h2>I'm the child title</h2>
        <slot>
            This will only be displayed if there is no content to be distributed.
        </slot>
    </div>
    <!-- これで -->
    <div>
        <h1>I'm the parent title</h1>
        <my-component>
            <p>This is some original content</p>
            <p>This is some more original</p>
        </my-component>
    </div>
    <!-- こうなる -->
    <div>
        <h1>I'm the parent title</h1>
        <div>
            <h2>I'm the child title</h2>
            <p>This is some original content</p>
            <p>This is some more original</p>
        </div>
    </div>

    <!-- 複数slotがあるとき、名前をつけることができる -->
    <!-- これと -->
    <div class="container">
        <header>
            <slot name="header"></slot>
        </header>
        <main>
            <slot></slot>
        </main>
        <footer>
            <slot name="footer"></slot>
        </footer>
    </div>
    <!-- これで -->
    <app-layout>
        <h1 slot="header">Here might be a page title</h1>

        <p>A paragraph for the main content.</p>
        <p>And another one.</p>

        <p slot="footer">Here's some content info</p>
    </app-layout>
    <!-- こうなる -->
    <div class="container">
        <header>
            <h1>Here might be a page title</h1>
        </header>
        <main>
            <p>A paragraph for the main content.</p>
            <p>And another one.</p>
        </main>
        <footer>
            <p>Here's some content info</p>
        </footer>
    </div>

    <!-- これと -->
    <div class="child">
        <slot text="hello from child"></slot>
    </div>
    <!-- これで -->
    <div class="parent">
        <child>
            <template scope="props">
                <span>hello from parent</span>
                <span>{{ props.text }}</span>
            </template>
        </child>
    </div>
    <!-- こうなる -->
    <div class="parent">
        <div class="child">
            <span>hello from parent</span>
            <span>hello from child</span>
        </div>
    </div>

    <!-- こんな組み合わせもできる -->
    <my-awesome-list :items="items">
        <template slot="item" scope="props">
            <li class="my-fancy-item">{{ props.text }}</li>
        </template>
    </my-awesome-list>
    <ul>
        <slot name="item" v-for="item in items" :test="item.text"></slot>
    </ul>

    <div id="example8">
        <component v-bind:is="currentView">
            <!-- component changes when vm.currentView changes -->
        </component>
    </div>

    <!-- コンポーネントをメモリに保持して、再レンダリングしないようにすることができる。keep-aliveで囲う -->
    <keep-alive>
        <component :is="currentView"></component>
    </keep-alive>

    <!-- 子コンポーネントに直接アクセスする場合は参照IDを付与する -->
    <div id="parent">
        <user-profile ref="profile"></user-profile>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.rawgit.com/chrisvfritz/5f0a639590d6e648933416f90ba7ae4e/raw/98739fb8ac6779cb2da11aaa9ab6032e52f3be00/currency-validator.js"></script>
    <script src="./main.js"></script>
</body>
</html>
